/* h1 {
  position: relative;
} */

h1::before {
  content: "";
  display: block;
  width: 40px;
  height: 4px;
  background: #caf;
  /* position: absolute;
  top: 20px; */
  /* z-index: -1; */
}
/* aparece antes do elemento em questão, precisa do content para aparecer */

ul {
  list-style: none;
}

li {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

li::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background: linear-gradient(#caf, #fff);
  border: 2px solid #caf;
  margin-right: 10px;
  border-radius: 50%;
}

/* h1::after {
  content: "depois";
} */
/* aparece depois do elemento em questão */

p::first-line {
  font-weight: bold;
}

p::first-letter {
  font-size: 2rem;
  color: #caf;
}
